@font-face {
    font-family: "Cafe Lumen";
    src: url("./MBF\ Cafe\ Lumen.otf");
}

@font-face {
    font-family: "Vonca";
    src: url("./vonca-regular.otf");
}

@font-face {
    font-family: "Suisse";
    src: url("./SuisseIntl-Regular.woff2");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Suisse";
}

html, body{
    width: 100%;
    height: 100%;
    position: relative;
}

#main{
    overflow: hidden;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #222;
}

#cursor{
    height: 6vw;
    width: 6.5vw;
    background-color: #ff5f38;
    color: #000;
    background-blend-mode: screen;
    border-radius: 15% 60%;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#cursor h5{
    font-size: 1.2vw;
    font-family: "Vonca";
}

.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    color: #fff;
    background-color: #0d0d0d;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6vw;
}

.loader h3{
    font-family: "Vonca";
    font-weight: 400;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(0.7);
}

#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Vonca";
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 3vw;
    font-family: "Vonca";
}

nav h3{
    font-size: 2vw;
    font-weight: 800;
    font-family: "Vonca";
}

nav>h4{
    font-size: 1.5vw;
    font-weight: 800;
    font-family: "Vonca";
}

.navbar {
    position: absolute;
    /* Starts as absolute */
    top: 100vh;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    z-index: 100;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

/* Sticky Navbar Class */
.fixed-navbar {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    transform: translateY(0) !important;
    opacity: 1;
}
.navbar h3{
    font-size: 2vw;
    font-family: "Vonca";
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    gap: 2vw;
}

.menu h4{
    font-family: "Vonca";
    padding-left: .5vw;
    font-size: 1.2vw;
    cursor: pointer;
    position: relative;
    font-weight: 500;
}

.underline-effect {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: black;
    width: 0%;
    transition: width 0.4s ease-in-out;
}

#page1-content>h5{
    font-size: 3vw;
    color: #fff;
    mix-blend-mode: difference;
    font-family: "Vonca";
    z-index: 3;
}

#page1-content h1{
    font-family: "Cafe Lumen";
    font-size: 25vw;
    font-weight: 700;
    mix-blend-mode: difference;
    z-index: 3;
}
#page1-content h1 span{
    font-family: "Cafe Lumen";
    display: inline-block;
}

#page2{
    min-height: 100vh;
    width: 100%;
}

.upper-part{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 3vh 3vw;
    margin-top: 3vh;
}

.upper-left{
    overflow: hidden;
}

.upper-part h1{
    font-weight: 500;
    font-size: 2.2rem;
    /* line-height: 1.2; */
}

.middle-part{
    padding: 3vh 3vw;
    border-top: 1px solid #0d0d0d;
    border-bottom: 1px solid #0d0d0d;
    text-align: center;
}

.middle-part p{
    margin: 4vh 0;
    font-size: 3rem;
}

.pag2-middle-text span{
    align-items: center;
    letter-spacing: 0mm;
}

.lower-part{
    display: flex;
    justify-content: space-between;
    padding: 3vh 3vw;
}

.lower-left{
    width: 50%;
}

.lower-left h2{
    font-weight: 500;
}

.lower-right{
    width: 20%;
    margin-right: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2vh;
}

.lower-right p{
    width: 80%;
    padding-bottom: 4vh;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}

.page3-top{
    text-align: center;
}

.page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}

.page3-top h4 span{
    font-size: 0.8vw;
    background-color: #0d0d0d;
    color: #fff;
    border-radius: 60%;
    padding: .4vw;
}

.page3-top h2{
    font-size: 4rem;
    font-weight: 500;
}

.page3-elements{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 17vh;
}

.page3-elements .box{
    height: 100%;
    width: 32%;
    position: relative;
    
}

.page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2%;
}

.page3-elements .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 2%;
}

.page3-elements .box:hover img {
    opacity: 0;
}

.page3-elements-lowerVid{
    height: 110vh;
    width: 100%;
}

.low-vid video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1%;
    margin-top: 4vh;
}

.page3-lower-text{
    margin-top: 10vh;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page3-lower-top-text{
    width: 30%;
    height: 100%;
    border-right: 2px solid #0d0d0d;
}

.page3-lower-top-text h2{
    font-size: 1.5rem;
    font-weight: 500;
}

.page3-lower-bottom-text{
    width: 70%;
    height: 100%;
    padding-left: 2vw;
}

.page3-lower-bottom-text p{
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.1;
}

#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page4 video{
    height: 100%;
}

#page4 svg{
    position: absolute;
    height: 60%;
}

#page5{
    height: 100vh;
    width: 100%;
    padding: 3vh 0vw;
    position: relative;
}

.page5-top h1{
    font-size: 6rem;
    font-family: "Cafe Lumen";
    font-weight: 700;
    margin-left: 3%;
    width: 93.5%;
    border-bottom: 1.2px solid #0d0d0d;
}

.swiperDiv{
    height: 60vh;
    width: 100%;
    position: relative;
    margin-top: -5%;
    /* background-color: rebeccapurple; */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.swiper-slide img {
    display: block;
    width: 18%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.page5-bottom{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 3vw;
}

.page5-svg-block {
    height: 120px;
    width: 120px;
}

.page5-svg-block img{
    height: 80px;
    width: 80px;
}

#page6{
    min-height: 100vh;
    width: 100%;
}

.page6-part1{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2vh 5vw;
}

.page6-part1 img{
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.9;
}

.page6-p1-text-block{
    text-align: center;
    height: 4.3rem;
    width: 30vw;
    line-height: 1;
    overflow: hidden;
    position: absolute;
}

.page6-p1-text-block h1{
    font-size: 4rem;
    font-family: "Vonca";
    font-weight: 500;
    color: #fff;
    mix-blend-mode: difference;
}

#page7{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.page7-top-text{
    margin-top: 10vh;
    padding: 10vh 3vw;
    height: 50vh;
    width: 100%;
    position: relative;
}

.page7-top-text p{
    font-size: 3rem;
    font-family: "Suisse";
}

.page7-second-text{
    padding: 3vh 3vw;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.second-text-left{
    width: 35%;
}

.second-text-right{
    width: 65%;
    padding: 0vh 18vw;
    
}

.page7-second-text h3{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Suisse";
}

.page7-second-text p{
    font-size: 1rem;
    font-family: "Suisse";
    padding-top: 5vh;
}

#page8 {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.page8-top-text{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 40vh;
    width: 100%;
    position: relative;
}

.page8-top-left {
    padding: 0vh 3vw;
    padding-left: 4vw;
}

.page8-top-left span{
    font-size: 12rem;
    height: 100%;
    width: 70%;
    font-weight: 600;
    font-family: "Vonca";
}

.page8-top-right h1{
    width: 20%;
    font-size: 3rem;
    font-weight: 400;
    font-family: "Vonca";
    padding-right: 5vw;
}

.page8-bottom-text{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vh 3vw;
}

.page8-bottom-text h3{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Suisse";
}

#page9{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page9-vid-div{
    height: 95%;
    width: 95%;
    /* padding: 3vh 3vw; */
}

.page9-vid-div video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page10{
    height: 130vh;
    width: 100%;
    position: relative;
    padding: 3vh 0vw;
}

.page10-top-text{
    height: 35vh;
    width: 100%;
    padding: 5vh 3vw;
}

.page10-top-text p{
    font-size: 3rem;
    font-family: "Suisse";

}

.page10-team{
    height: 100vh;
    width: 100%;
}

.page10-team h1 {
    font-size: 6rem;
    font-family: "Cafe Lumen";
    font-weight: 700;
    margin-left: 3%;
    width: 93.5%;
    border-bottom: 1.2px solid #0d0d0d;
    margin-top: 15vh;
}

.page10-team .swiperDiv {
    height: 90vh;
    width: 100%;
    position: relative;
    margin-top: 2%;
    /* background-color: rebeccapurple; */
}

.page10-team .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

